.ejemplo4-show-hide{
    padding:10px;
    border:1px solid black;
    background: white;
}
.ejemplo4-show-hide{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.ejemplo4-show-hide.ng-hide{
    opacity: 0;
}