<!DOCTYPE html>
<html lang="en" ng-app="formulario">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="proveedor.js"></script>
    <style>
        input.ng-invalid{
            background-color: coral;
        }
        input.ng-valid{
            background-color: lightgreen;
        }
    </style>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

</head>
<body>
<div ng-controller="proveedorForm">
    <form novalidate name="formulario">
        <table>
            <tr>
                <td>CODIGO PROVEEDOR:</td>
                <td><input type="number" name="codigo" ng-model="proveedor.codigo" required>
                {{ formulario.codigo.$touched }}
                    {{ formulario.codigo.$valid}}
                </td>
            </tr>
            <tr>
                <td>NOMBRE PROVEEDOR:</td>
                <td><input type="text" name="nombre" ng-model="proveedor.nombre" required>
                <span ng-show="formulario.nombre.$untouched && formulario.nombre.$invalid">El Nombre es requerido</span>
                </td>
            </tr>
            <tr>
                <td>RUBRO:</td>
                <td><input type="text" ng-model="proveedor.rubro"></td>
            </tr>
            <tr>
                <td>NIT:</td>
                <td><input type="text" ng-model="proveedor.nit"></td>
            </tr>
            <tr>
                <td>PAIS:</td>
                <td><input type="text" ng-model="proveedor.pais"></td>
            </tr>
            <tr>
                <td>CIUDAD:</td>
                <td><input type="text" ng-model="proveedor.ciudad"></td>
            </tr>
            <tr>
                <td>DIRECCION::</td>
                <td><input type="text" ng-model="proveedor.direccion"></td>
            </tr>
            <tr>
                <td COLSPAN="2">
                    <input type="button" ng-click="reset()" value="Limpiar">
                    <input type="submit" ng-disabled="formulario.codigo.$touched" ng-click="actualizarProveedor(proveedor)" value="Guardar">
                </td>
            </tr>
        </table>
    </form>
    <pre>proveedor {{proveedor|json}}</pre>
</div>
</body>
</html>